@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<html>
<head>
</head>


<body>
    <div>

<p>This course is about dotnet which i find kind of hard, alot of files and things to do.</p>
    </div>


        


    </table>


</body>

</html>
