
body {


    font-family: Arial, Helvetica, sans-serif;
    background: rgb(63, 214, 131);
    width: 800px;
}

header{
font-weight: bold;
}

.directions  li {
    background: red;
    list-style-type: none;

}


 footer {

    background: black;
    padding-bottom: 5px;
    color: white;
    height: 100px;

}   
footer li {
    list-style-type: none;
}
footer img {
    margin-left: 700px;

}
a:hover{
    background: green;

}

